#four .contact-list {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

#four .contact-item {
  float: left;
  padding: 10px;
  /*background: #4acaa8;*/
}

#four .contact-list:after {
  content: '';
  display: block;
  clear: both;
}
