ul.contact-icon-list {
  list-style: none;
  padding-left: 0;
}

li.contact-list-item {
  float: left;
  padding: 10px;
  width: 50px;
  /*background: #4acaa8;*/
}

ul.contact-icon-list:after {
  content: '';
  display: block;
  clear: both;
}
